.mdl-layout__title{
  a {
    color:white;
    text-decoration: none;
  }
  img {padding-right: 10px}
}
.mdl-checkbox {
    width: inherit;
}

.is-checked {
  text-decoration: line-through;
}

.default-label {
  .mdl-textfield__label {
    color: rgb(33,150,243);
    font-size: 12px;
    top: 4px;
    visibility: visible;
  }
}
