.list-card {
  min-height: 320px;
  .mdl-card__title {
    color: #fff;
    min-height: 160px;
    background-color: $color-blue !important;
    background-repeat: no-repeat !important;
    background-position: right 15% bottom !important;
  }
  .mdl-list {
      margin: 0;
      .mdl-list__item {
        min-height: 30px;
        padding: 0 16px;
      }
  }
  .mdl-card__actions {
    text-align: center;
  }
}
